@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 15, 27;
    --background-end-rgb: 10, 15, 27;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.game-header {
  @apply bg-theme-red flex h-20 items-center justify-center border-b-1 space-x-3;
}

.wallet-balance {
  @apply w-44 h-12 flex flex-col items-center justify-center text-theme-red px-wallet-balance-horizontal pt-wallet-balance-top pb-wallet-balance-bottom rounded-md border-1 border-black;
  background: #F8DFDF;
}

.wallet-balance-title {
  @apply font-black;
  font-size: 12px;
  margin-top: 10px;
  line-height: 10px;
}

.wallet-balance-amount {
  font-size: 16px;
}

.connect-wallet-button {
  @apply bg-white text-theme-red border-1 space-x-2 border-black rounded-md flex items-center justify-center duration-200;
  padding: 8px 16px;
  height: 46.667px;

  &:hover {
    @apply transform scale-95;
  }
}

.wallet-logo {
  height: 29px;
}

.optimism-logo {
  height: 46.667px;
}