@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 15, 27;
    --background-end-rgb: 10, 15, 27;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb)
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.game-container {
  @apply flex flex-col items-center;

  .wallet-header {
    @apply bg-theme-primary-background flex h-20 items-center justify-center border-b-1 space-x-3 w-full;
    border-bottom: 1px solid #bab1a6;
    background-color: #11172C;
  
    .wallet-balance {
      @apply w-44 h-12 flex flex-col items-center justify-center text-theme-red px-wallet-balance-horizontal pt-wallet-balance-top pb-wallet-balance-bottom rounded-md border-1 border-black;
      background: #F8DFDF;
  
      .wallet-balance-title {
        @apply font-black;
        font-size: 12px;
        margin-top: 10px;
        line-height: 10px;
      }
      
      .wallet-balance-amount {
        font-size: 16px;
      }
    }
  
    .connect-wallet-button {
      @apply bg-white text-theme-red border-1 space-x-2 border-black rounded-md flex items-center justify-center duration-200 text-black;
      padding: 8px 16px;
      height: 46.667px;
    
      &:hover {
        @apply transform scale-95;
      }
    
      .wallet-logo {
        height: 29px;
      }
    }
    
    .optimism-logo {
      height: 46.667px;
    }
  }
  
  main.game-main {
    @apply flex flex-col space-y-3;
    
    width: 530px;
    margin-top: 40px;
  
    .game-header {
      @apply flex justify-between w-full items-center;
  
      margin-bottom: 10px !important;

      .title-group {
        .subtitle {
          @apply flex items-center justify-center w-20 h-6 font-black rounded-md;
  
          font-size: 14px;
          color: black;
          background: linear-gradient(
            to top right,
            #FDC801,
            #977701
          );
          margin-bottom: 3px;
          box-shadow: 0 0 8px rgba(253, 200, 1, 0.4);
        }
  
        .title-logo {
          height: 73px;
        }
  
        .title {
          font-size: 80px;
          font-weight: extra-black;
          background: linear-gradient(to right, #3E9CF4, #1D6EBB);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      
      .game-info {
        @apply flex space-x-3;
  
        .move-count {
          @apply flex flex-col items-center justify-center text-theme-primary-background px-wallet-balance-horizontal pt-wallet-balance-top pb-wallet-balance-bottom rounded-md border-1 border-black font-black duration-200;
          
          height: 60px;
          width: 130px;
          background: linear-gradient(
            to bottom,
            #FDC801,
            #977701
          );
          box-shadow: 0 0 8px rgba(253, 200, 1, 0.4);

          &:hover {
            @apply transform scale-90;
          }
      
          .move-count-title {
            font-size: 14px;
            margin-top: 10px;
            line-height: 10px;
          }
          
          .move-count-number {
            font-size: 23px;
          }
        }

        .move-count-modal-area {
          margin: 0px !important;
        }
  
        .prize-pool {
          @apply w-44 flex flex-col items-center justify-center text-theme-primary-background px-wallet-balance-horizontal pt-wallet-balance-top pb-wallet-balance-bottom rounded-md border-1 border-black font-black;
          
          height: 60px;
          background: linear-gradient(
            to bottom,
            #FDC801,
            #977701
          );
          box-shadow: 0 0 8px rgba(253, 200, 1, 0.4);

          &:hover {
            @apply transform scale-90;
          }
      
          .prize-pool-title {
            font-size: 12px;
            margin-top: 10px;
            line-height: 10px;
            font-size: 14px;
          }
          
          .prize-pool-amount {
            font-size: 23px;
          }
        }
      }
    }

    .game-board {
      @apply flex flex-col space-y-3 w-full aspect-[1/1];

      background: #D7DEDC;
      color: black;
      border-radius: 10px;
      box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.4);
      padding: 15px;

      .row {
        @apply flex space-x-3 justify-around w-full;

        .tile {
          @apply w-full aspect-[1/1];
          border: 1px solid #0A0F1B;
          border-radius: 10px;
          background: radial-gradient(circle, #CAC1B5, #b1a89e);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);

          &.tile-2 {
            background: linear-gradient(
              to bottom left,
              #FFF1D0,
              #99917D
            );

            &::before {
              content: '2';
              font-size: 55px;
              font-weight: bold;
              color: #1C2A4A;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-4 {
            background: linear-gradient(
              to bottom left,
              #E9EBF8,
              #898A92
            );

            &::before {
              content: '4';
              font-size: 55px;
              font-weight: bold;
              color: #1C2A4A;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-8 {
            background: linear-gradient(
              to bottom left,
              #A5F8D3,
              #61927C
            );

            &::before {
              content: '8';
              font-size: 55px;
              font-weight: bold;
              color: #1C2A4A;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-16 {
            background: linear-gradient(
              to bottom left,
              #FFB997,
              #996F5B
            );

            &::before {
              content: '16';
              font-size: 48px;
              font-weight: bold;
              color: #1C2A4A;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-32 {
            background: linear-gradient(
              to bottom left,
              #F06543,
              #8A3A27
            );

            &::before {
              content: '32';
              font-size: 48px;
              font-weight: bold;
              color: #FFFFFF;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-64 {
            background: linear-gradient(
              to bottom left,
              #BD320F,
              #571707
            );

            &::before {
              content: '64';
              font-size: 48px;
              font-weight: bold;
              color: #FFFFFF;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-128 {
            background: linear-gradient(
              to bottom left,
              #95B8D1,
              #4C5E6B
            );

            &::before {
              content: '128';
              font-size: 40px;
              font-weight: bold;
              color: #FFFFFF;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-256 {
            background: linear-gradient(
              to bottom left,
              #2B2D42,
              #6D73A8
            );

            &::before {
              content: '256';
              font-size: 40px;
              font-weight: bold;
              color: #FFFFFF;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-512 {
            background: linear-gradient(
              to bottom left,
              #977390,
              #31252F
            );

            &::before {
              content: '512';
              font-size: 40px;
              font-weight: bold;
              color: #FFFFFF;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-1024 {
            background: linear-gradient(
              to bottom left,
              #A54657,
              #3F1B21
            );

            &::before {
              content: '1024';
              font-size: 36px;
              font-weight: bold;
              color: #FFFFFF;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }

          &.tile-2048 {
            background: linear-gradient(
              to bottom left,
              #FDC801,
              #977701
            );

            &::before {
              content: '2048';
              font-size: 36px;
              font-weight: bold;
              color: #0A0F1B;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            };
          }
        }
      }
    }

    .game-actions {
      margin-top: 30px !important;
      margin-bottom: 30px !important;

      .game-buttons {
        @apply flex w-full space-x-3 justify-center;
    
        .game-button {
          @apply text-white border-1 space-x-2 border-black rounded-md flex items-center justify-center duration-200;
          padding: 8px 17.5px;
          height: 37px;
          background: #D7DEDC;
        
          &:not(:disabled):hover {
            @apply transform scale-90;
          }
  
          &:disabled {
            @apply bg-theme-primary-background;
          }
  
          img {
            height: 25px;
          }
        }
      }
  
      .game-buttons-loading {
        @apply flex w-full justify-center;
  
        margin-top: 8px !important;
  
        &.hide {
          display: none;
        }
      }
    }
    

    .game-instructions {
      font-size: 20px;

      .title {
        @apply text-theme-secondary font-black;
      }

      .highlighted {
        @apply text-theme-secondary font-black;
      }

      a.list-prizes-button {
        @apply text-theme-secondary font-black underline;

        &:hover {
          @apply text-theme-primary;
        }
      }
    }

    .donate-to-prize-pool {
      font-size: 20px;

      a.open-donate-modal-button {
        @apply text-theme-secondary font-black underline;
        cursor: pointer;

        &:hover {
          @apply text-theme-primary;
        }
      }
    }

    .line {
      height: 1px;
      background: #D7D4D0;
      margin-top: 20px !important;
      margin-bottom: 10px !important;
    }

    .game-footer {
      font-size: 20px;
      margin-bottom: 100px !important;

      a.author {
        @apply text-theme-secondary font-black underline;

        &:hover {
          @apply text-theme-primary;
        }
      }

      a.indonesia {
        /* @apply text-theme-secondary font-black underline; */

        &:hover {
          @apply text-theme-red;
        }
      }
    }
  }
}

table {
  color: #141414;
}